@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', 'sans-serif';
}

font{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    }
